@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --marigold: hsla(40, 98%, 47%, 1);
  --tangerine: hsla(33, 96%, 48%, 1);
  --flame: hsla(13, 68%, 54%, 1);
  --oxford-blue: hsla(226, 48%, 11%, 1);
  --morning-blue: hsla(144, 15%, 55%, 1);
  --asparagus: hsla(107, 30%, 49%, 1);

  --red-salsa: hsla(360, 83%, 65%, 1);
  --light-yellow: hsla(67, 85%, 92%, 1);
  --sky-blue-crayola: hsla(193, 95%, 65%, 1);
  --maya-blue: hsla(204, 100%, 70%, 1);
  --english-violet: hsla(286, 23%, 37%, 1);
  --terra-cotta: hsla(12, 62%, 63%, 1);

  --medium-turquoise: hsla(181, 69%, 61%, 1);
  --orange-yellow: hsla(43, 90%, 54%, 1);
  --indigo-dye: hsla(201, 79%, 23%, 1);
  --rosewood: hsla(3, 78%, 18%, 1);
  --kombu-green: hsla(88, 38%, 15%, 1);
  --palatinate-purple: hsla(304, 59%, 20%, 1);

  --saffron: hsla(47, 81%, 56%, 1);
  --yinmn-blue: hsla(217, 48%, 39%, 1);
  --razzmatazz: hsla(333, 100%, 45%, 1);
  --mint: hsla(168, 97%, 41%, 1);
  --tomato: hsla(5, 96%, 61%, 1);
  --melon: hsla(4, 67%, 82%, 1);

  --cerulean: hsla(196, 36%, 41%, 1);
  --dark-slate-gray: hsla(178, 41%, 25%, 1);
  --eggshell: hsla(53, 44%, 88%, 1);
  --orange-crayola: hsla(21, 90%, 62%, 1);
  --persian-indigo: hsla(270, 91%, 21%, 1);

  --font-family: 'Maven Pro', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  background-color: rgb(10, 10, 10);

  display: grid;
  align-items: center;
  justify-content: center;
}

#text-wrapper {
  background-color: rgb(10, 10, 10);
  border: 0;
  height: 5rem;
  color: white;
  font-family: var(--font-family);

  font-size: 5rem;
}

#content-wrapper {
  aspect-ratio: 1.618;
  width: 100vmin;
  position: relative;
}

#content-wrapper > .shape {
  height: 30%;
  width: 30%;
  position: absolute;

  transition: all;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

#content-wrapper[data-roundness="1"] > .shape {
  border-radius: 6rem;
}

#content-wrapper[data-roundness="2"] > .shape {
  border-radius: 0rem;
}

#content-wrapper[data-roundness="3"] > .shape {
  border-radius: 3rem;
}

#content-wrapper[data-roundness="4"] > .shape {
  border-radius: 9rem;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(1) {
  left: 0;
  top: 0;
  height: 50%;
  width: 20%;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(2) {
  left: 20%;
  top: 0;
  height: 50%;
  width: 30%;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(3) {
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(4) {
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(5) {
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#content-wrapper[data-configuration="1"] > .shape:nth-child(6) {
  left: 65%;
  top: 50%;
  height: 40%;
  width: 25%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(2) {
  left: 0;
  top: 0;
  height: 50%;
  width: 20%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(3) {
  left: 20%;
  top: 0;
  height: 50%;
  width: 30%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(4) {
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(5) {
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(6) {
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#content-wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 65%;
  top: 50%;
  height: 40%;
  width: 25%;
}

/* CONFIGURATION 3 */

#content-wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 0;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="3"] > .shape:nth-child(2) {
  left: 20%;
  top: 0;
  height: 100%;
  width: 10%;
}

#content-wrapper[data-configuration="3"] > .shape:nth-child(3) {
  left: 30%;
  top: 0;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="3"] > .shape:nth-child(4) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 10%;
}

#content-wrapper[data-configuration="3"] > .shape:nth-child(5) {
  left: 60%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="3"] > .shape:nth-child(6) {
  left: 80%;
  top: 0%;
  height: 100%;
  width: 20%;
}

/* CONFIGURATION 4 */

#content-wrapper[data-configuration="4"] > .shape:nth-child(4) {
  left: 0%;
  top: 0;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="4"] > .shape:nth-child(3) {
  left: 20%;
  top: 0;
  height: 100%;
  width: 10%;
}

#content-wrapper[data-configuration="4"] > .shape:nth-child(6) {
  left: 30%;
  top: 0;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="4"] > .shape:nth-child(2) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 10%;
}

#content-wrapper[data-configuration="4"] > .shape:nth-child(1) {
  left: 60%;
  top: 0%;
  height: 100%;
  width: 20%;
}

#content-wrapper[data-configuration="4"] > .shape:nth-child(5) {
  left: 80%;
  top: 0%;
  height: 100%;
  width: 20%;
}

/* CONFIGURATION 5 */

#content-wrapper[data-configuration="5"] > .shape:nth-child(2) {
  left: 5%;
  top: 0;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="5"] > .shape:nth-child(5) {
  left: 5%;
  top: 33.3%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="5"] > .shape:nth-child(1) {
  left: 5%;
  top: 66.6%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="5"] > .shape:nth-child(3) {
  left: 55%;
  top: 0%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="5"] > .shape:nth-child(4) {
  left: 55%;
  top: 33.3%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="5"] > .shape:nth-child(6) {
  left: 55%;
  top: 66.6%;
  height: 33.3%;
  width: 40%;
}

/* CONFIGURATION 6 */

#content-wrapper[data-configuration="6"] > .shape:nth-child(4) {
  left: 5%;
  top: 0;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="6"] > .shape:nth-child(3) {
  left: 5%;
  top: 33.3%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="6"] > .shape:nth-child(6) {
  left: 5%;
  top: 66.6%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="6"] > .shape:nth-child(2) {
  left: 55%;
  top: 0%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="6"] > .shape:nth-child(1) {
  left: 55%;
  top: 33.3%;
  height: 33.3%;
  width: 40%;
}

#content-wrapper[data-configuration="6"] > .shape:nth-child(5) {
  left: 55%;
  top: 66.6%;
  height: 33.3%;
  width: 40%;
}

/* CONFIGURATION 7 */

#content-wrapper[data-configuration="7"] > .shape:nth-child(1) {
  left: 0%;
  top: 0;
  height: 33.3%;
  width: 80%;
}

#content-wrapper[data-configuration="7"] > .shape:nth-child(2) {
  left: 80%;
  top: 0%;
  height: 33.3%;
  width: 20%;
}

#content-wrapper[data-configuration="7"] > .shape:nth-child(3) {
  left: 0%;
  top: 33.3%;
  height: 66.6%;
  width: 66.6%;
}

#content-wrapper[data-configuration="7"] > .shape:nth-child(4) {
  left: 66.6%;
  top: 33.3%;
  height: 33.3%;
  width: 33.3%;
}

#content-wrapper[data-configuration="7"] > .shape:nth-child(5) {
  left: 66.6%;
  top: 66.6%;
  height: 33.3%;
  width: 20%;
}

#content-wrapper[data-configuration="7"] > .shape:nth-child(6) {
  left: 15%;
  top: 55%;
  height: 25%;
  width: 40%;
}

/* CONFIGURATION 8 */

#content-wrapper[data-configuration="8"] > .shape:nth-child(1) {
  left: 0%;
  top: 0;
  height: 50%;
  width: 50%;
}

#content-wrapper[data-configuration="8"] > .shape:nth-child(2) {
  left: 50%;
  top: 0%;
  height: 50%;
  width: 50%;
}

#content-wrapper[data-configuration="8"] > .shape:nth-child(3) {
  left: 0%;
  top: 85%;
  height: 15%;
  width: 100%;
}

#content-wrapper[data-configuration="8"] > .shape:nth-child(5) {
  left: 50%;
  top: 55%;
  height: 25%;
  width: 50%;
}

#content-wrapper[data-configuration="8"] > .shape:nth-child(4) {
  left: 0%;
  top: 55%;
  height: 25%;
  width: 50%;
}

#content-wrapper[data-configuration="8"] > .shape:nth-child(6) {
  left: 2.7%;
  top: 87.5%;
  height: 9%;
  width: 95%;
}


